<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\SQLBI_Agronet\Documents\Visual Studio 2013\Projects\AgronetEstadisticasBackend\seaApi\AgronetEstadisticas.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>seaApi</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AgronetSQLAnalysisServicesComercio" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.20.52.13; Catalog=BI_ComercioColombia_DW" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AgronetSQLAnalysisServicesComercio_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.20.52.13; Catalog=BI_ComercioColombia_DW" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AgronetSQLAnalysisServicesCredito" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.20.52.13; Catalog=BI_Credito_DW" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AgronetSQLAnalysisServicesCredito_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.20.52.13; Catalog=BI_Credito_DW" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AgronetPostgreSQL" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=172.21.12.16;port=5434;user id=usuario_estadisticas;password=@Gr0n3t#;database=agromapas" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AgronetPostgreSQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=172.21.12.16;port=5434;user id=usuario_estadisticas;password=@Gr0n3t#;database=agromapas" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AgronetSQL" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:172.21.12.11,1433;User ID=usuario_web_crystal;Password=agronet" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AgronetSQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:172.21.12.11,1433;User ID=usuario_web_crystal;Password=agronet" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AgronetPostgreSQL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AgronetSQL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AgronetSQLAnalysisServicesComercio-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AgronetSQLAnalysisServicesCredito-Web.config Connection String" />
  </ItemGroup>
</Project>